{
  "extends": [
    "airbnb",
    "plugin:react-native/all"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "import",
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react-native/no-raw-text": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": [2, { "ignore": ["children", "styles", "navigation"] } ],
    "jsx-a11y/anchor-is-valid": ["error", { "components": [ "Link" ], "specialLink": ["onPress"] }],
  }
}
